.div-about-container {
    background-color: black;
    min-height: 100vh;
    color: white;
    overflow: hidden;
}

.noise {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    background: transparent url('../images/noise.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .3;
    visibility: visible;
    z-index: 1;
}

.link-nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
}

.link-nav {
    position: absolute;
    right: 0;
    z-index: 2;
    padding: 10vh 0;
    text-decoration: none;
    color: white;
}