.div-about-container {
    background-color: black;
    min-height: 100vh;
    color: white;
    overflow: hidden;
}

.noise {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    background: transparent url('../images/noise.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .3;
    visibility: visible;
    z-index: 1;
}

.link-nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: 10vh auto;
}

.link-nav {
    position: absolute;
    right: 10%;
    z-index: 2;
    text-decoration: none;
    color: grey;
    font-size: 20px;
}

.link-nav2 {
    position: absolute;
    right: 5%;
    z-index: 2;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.word {
    margin: auto;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

.animated-text {
    padding-left: 50px;
}

@media only screen and (max-width:600px) {
    .link-nav {
        right: 25%;
    }
    .link-nav,
    .link-nav2 {
        font-size: 17px;
    }
}