.About-page-main-container {
    color: white;
}

.div-about-container {
    background-color: black;
    min-height: 100vh;
    color: white;
    overflow: hidden;
}

.noise2 {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    background: transparent url('../images/noise.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .3;
    visibility: visible;
    z-index: 1;
}

.about-logo-container {
    margin-left: 10vw;
}

.link-nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: 10vh auto 0 auto;
}

.skewImage {
    display: flex;
}

.link-nav {
    position: fixed;
    right: 10%;
    z-index: 2;
    text-decoration: none;
    color: grey;
    font-size: 20px;
}

.link-nav2 {
    position: fixed;
    right: 5%;
    z-index: 2;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.word {
    margin: auto;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

.animated-text-container {
    position: relative;
    margin-bottom: 10vh;
}

.animate-text-aboutPage {
    display: flex;
    overflow: hidden;
}

.animate-show-text-aboutPage {
    display: inline-flex;
}

.animated-text {
    position: absolute;
    left: 0;
}

.hello-container {
    width: 80vw;
    margin: 0 auto;
    padding-top: 5vh;
    position: relative;
}

.text-transparent-aboutPage-container {
    overflow: hidden;
}

.text-transparent-aboutPage {
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.largeText-technology span {
    -webkit-text-stroke: 1px white;
}

.hello-text {
    margin: 0;
    font-size: clamp(1.5rem, calc(1.5rem + 6.23782vw - 25.82456px), 5rem);
    font-weight: 500;
    font-family: 'DrukWide-Super-Trial';
    -webkit-text-stroke: 1px white;
   
    position: relative;
}

.container-img {
    position: absolute;
    right: 0;
    background: url('../images/S-Profile-Image-BG-1.png');
    z-index: 1;
    height: 800px;
    width: 600px;
    top: 0;

}

.about-page-text-me {
    width: 35vw;
    margin: 15vh auto;
    font-size: 30px;
    font-family: sans-serif;
}

.largeText-technology {
    margin: 20vh auto;
    font-size: 40px;
    font-family: 'DrukWide-Super-Trial';
    width: 150%;
    z-index: 10;
    position: relative;
}

#footer-about {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 40px;
    font-size: 18px;
    font-family: sans-serif;
}

.footer-left-container-about {
    z-index: 10000;
    display: block;
}

.linkedin-link-about {
    text-decoration: none;
    color: white;
    z-index: 1000;
    padding: 0 20px;
}

.hashLink-about {
    z-index: 1000;
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

.two-spans-about {
    display: flex;
    justify-content: space-between;
}

.span3-about,
.span4-about {
    display: inline-block;
    border-top: 2px solid white;
    width: 100%;
}


/****************************************************** MEDIA QUERY **************************************/

@media only screen and (max-width:768px) {
    #footer-about {
        width: 100%;
        display: block;
        padding: 40px 0;
        font-size: 14px;
        text-align: center;
        z-index: 10000;
        position: relative;
    }
    .footer-left-container-about {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .hashLink-about {
        padding: 0;
    }
    .link-nav {
        position: absolute;
        right: 25%;
    }
    .link-nav2 {
        position: absolute;
    }
    .about-page-text-me {
        width: 90vw;
        margin: 0 auto;
        padding: 120px auto;
        font-size: 20px;
        font-family: sans-serif;
    }
    .p-about-me-page {
        width: 90%;
        padding-bottom: 20px;
        margin: 0 auto;
        margin-top: 20vh;
        font-size: 16px;
    }
    .p-about-me-page2 {
        width: 90%;
        padding-bottom: 20px;
        margin: 0 auto;
        font-size: 16px;
        margin-bottom: 10vh;
    }
    .largeText-technology {
        width: 90%;
        margin: 10vw auto;
        font-size: 18px;
    }
    .link-nav,
    .link-nav2 {
        font-size: 17px;
    }
}