body {
    background-color: rgb(204, 204, 223);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    column-gap: 15px;
    row-gap: 15px;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: indianred;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.hr-container {
    width: 80vw;
    margin: 5vh auto;
}

.animeHr {
    display: flex;
    overflow: hidden;
    margin-top: 40vh;
}

.animeHr-right {
    display: flex;
    overflow: hidden;
    justify-content: right;
    margin-top: 40vh;
}

.hr-container-flex {
    display: flex;
    justify-content: space-between;
}

.animeHr-half-left {
    display: flex;
    justify-content: left;
}

.animeHr-half-right {
    display: flex;
    justify-content: right;
}

.span-half1 {
    display: inline-block;
    text-align: left;
    border-top: 1px solid black;
    width: 100%;
}

.span-half2 {
    display: inline-block;
    text-align: right;
    border-top: 1px solid blue;
    width: 100%;
}

.noise {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    background: transparent url('../images/noise.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .3;
    visibility: visible;
    z-index: 1;
}

.img1 {
    background: url('../images/umbrellas_colorful_desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.img2 {
    background: url('../images/brain-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.img3 {
    background: url('../images/memes-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.img4 {
    background: url('../images/dice-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.img5 {
    background: url('../images/aye-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m1 {
    background: url('../images/m1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m2 {
    background: url('../images/m2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m3 {
    background: url('../images/m3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m4 {
    background: url('../images/m4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m5 {
    background: url('../images/m5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m6 {
    background: url('../images/m6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m7 {
    background: url('../images/m7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m8 {
    background: url('../images/m8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m9 {
    background: url('../images/m9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m10 {
    background: url('../images/m10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m11 {
    background: url('../images/m11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m12 {
    background: url('../images/m12.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m13 {
    background: url('../images/m13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m14 {
    background: url('../images/m14.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m15 {
    background: url('../images/m15.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m16 {
    background: url('../images/m16.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m17 {
    background: url('../images/m17.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m18 {
    background: url('../images/m18.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m19 {
    background: url('../images/m19.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m20 {
    background: url('../images/m20.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m21 {
    background: url('../images/m21.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m22 {
    background: url('../images/m22.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m23 {
    background: url('../images/m23.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m24 {
    background: url('../images/m24.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.m100 {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/*****/

.noise {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    background: transparent url('../images/noise.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .3;
    visibility: visible;
}

.linkNav {
    z-index: 2;
    position: fixed;
    text-decoration: none;
    color: black;
    font-size: 20px;
    right: 10%;
}

.linkNav2 {
    z-index: 2;
    position: fixed;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.411);
    font-size: 20px;
    right: 5%;
}

@media only screen and (max-width:600px) {
    .linkNav {
        right: 25%;
    }
}

.nav-container {
    width: 80vw;
    margin: 0 auto;
    padding: 10vh 0;
    display: flex;
    justify-content: space-between;
}

.circle-container {
    position: relative;
    text-align: right;
    display: flex;
    justify-content: right;
    margin-top: 20vh;
}

.circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 12px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.logo {
    position: absolute;
    width: 300px;
    height: 300px;
    background: url('../images/me6.png');
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.circleText {
    position: absolute;
    font-size: 20px;
    width: 100%;
    height: 100%;
    animation: rotateText 12s linear infinite;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.circleText span {
    position: absolute;
    transform-origin: 0 200px;
    left: 50%;
}

.bg-1 {
    position: absolute;
    width: 300px;
    height: 300px;
    background: url('../images/m6.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s ease-in-out;
}

.bg-2 {
    position: absolute;
    width: 300px;
    height: 300px;
    background: url('../images/m1.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s ease-in-out;
}

.bg-3 {
    position: absolute;
    width: 300px;
    height: 300px;
    background: url('../images/m17.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s ease-in-out;
}

@keyframes rotateText {
    0% {
        transform: rotate(360deg);
    }
}

@keyframes bg-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -5%)
    }

    20% {
        transform: translate(-10%, 5%)
    }

    30% {
        transform: translate(5%, -10%)
    }

    40% {
        transform: translate(-5%, 15%)
    }

    50% {
        transform: translate(-10%, 5%)
    }

    60% {
        transform: translate(15%, 0)
    }

    70% {
        transform: translate(0, 10%)
    }

    80% {
        transform: translate(-15%, 0)
    }

    90% {
        transform: translate(10%, 5%)
    }

    100% {
        transform: translate(5%, 0)
    }
}

.fonts {
    font-family: 'Raleway', sans-serif;
}

.main {
    overflow: hidden;
    background-color: black;
}

.after {
    background-color: rgb(204, 204, 223);
}

.anime2 {
    display: flex;
}

.animeTextCenter {
    display: flex;
    justify-content: center;
}

.anime22 {
    display: flex;
    justify-content: center;
}

.animeImage {
    display: flex;
    justify-content: right;
}

.animeImage2 {
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.img-cont-main {
    width: 80vw;
    margin: 20vh auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.img-container {
    background-position: center;
    position: relative;
    background-image: url('../images/brain-desktop.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}


.img-container-weather {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-image: url('../images/umbrellas_colorful_kids_96317_1280x720.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container-memes {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-image: url('../images/memes-desktop.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container-tenzi {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-image: url('../images/dice-desktop.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container:hover .h2-quiz {
    -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    opacity: 1;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
    background: #c9c9ca;


}

.img-container:hover .h2-quiz-left {
    -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    opacity: 1;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
    background: #c9c9ca;
}

.h2-quiz-left {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 175px;
    height: 75px;
    background: transparent;
    margin: 0 auto;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    color: black;
    opacity: 0;
}

.h2-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 175px;
    height: 75px;
    background: transparent;
    margin: 0 auto;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    opacity: 0;
    color: black;

}



/*
.shape {
  width: 175px;
  height: 175px;
  background: #4285F4;
  margin: 0 auto;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
.shape.arrow-normal {
  -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}
.shape.arrow-normal.to-right:hover {
  -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
*/
.home-links-toProject {
    z-index: 1000;
}



.hr {
    border-top: 1px solid black;
}

.anime3 {
    display: flex;
}

.page1 {
    min-height: 100vh;
    position: fixed;
}

.heading {
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
}

.heading div {
    font-size: 120px;
    overflow: hidden;
}

.text-transparent {
    -webkit-text-stroke: 1px black;
    color: transparent;
}

.div-desktop-text {
    overflow: hidden;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 50px;
}

.div-desktop-text-left {
    overflow: hidden;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 50px;
}

.div-desktop-text2 {
    margin-top: 0;
    overflow: hidden;
    font-size: 55px;
}

.div-mobile-text {
    overflow: hidden;
    font-size: 24px;
    display: flex;
}

.div-mobile-text-mobile {
    overflow: hidden;
    font-size: 14px;
    display: flex;
}

@media only screen and (max-width:600px) {

    .img1,
    .img2,
    .img3,
    .img4,
    .img5 {
        max-width: 250px;
        max-height: 250px;
        background-position: center;
    }

    .img1 {
        background: url('../images/umbrellas_colorful_kids_mobile.jpg');
        background-position: center;
        background-size: cover;
    }

    .img2 {
        background: url('../images/brain-mobile.jpg');
        background-position: center;
        background-size: cover;
    }

    .img3 {
        background: url('../images/memes-mobile.jpg');
        background-position: center;
        background-size: cover;
    }

    .img4 {
        background: url('../images/dice-mobile.jpg');
        background-position: center;
        background-size: cover;
    }

    .img5 {
        background: url('../images/aye-mobile.jpg');
        background-position: center;
        background-size: cover;
    }

    .img-container {
        background: url('../images/brain-desktop-mobile.png');
        background-position: center;
        object-fit: contain;
    }

    .img-container-weather {
        background: url('../images/umbrellas_colorful_desktop-mobile.png');
        background-position: center;
        object-fit: cover;
    }

    .img-container-memes {
        background: url('../images/memes-desktop-mobile.png');
        background-position: center;
        object-fit: cover;
    }

    .img-container-tenzi {
        background: url('../images/dice-desktop-mobile.png');
        background-position: center;
        object-fit: cover;
    }

    .bg-1,
    .bg-2,
    .bg-3 {
        width: 150px;
        height: 150px;
    }

    .heading div {
        font-size: 40px;
    }

    .linkNav,
    .linkNav2 {
        font-size: 17px;
    }

    .circle {
        width: 200px;
        height: 200px;
    }

    .circleText span {
        transform-origin: 0 100px;
    }

    .circle-container {
        margin-top: 42vh;
    }

    .logo {
        width: 150px;
        height: 150px;
    }

    .img-cont-main {
        margin-bottom: 2vh;
    }
}